@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========================================================================== */
  /* BASIC STYLING */
  /* ========================================================================== */
  #nav a.router-link-exact-active {
    color: #111;
    transform: scale(1.1) translateY(-1px);
  }

/* Buttons 
/* ========================================================================== */

button {
    padding: 0.6rem 2rem;
    margin: 0.4rem 0;
    width: 100%;
    height: 50px;
    font-size: 0.8rem;
    letter-spacing: 0.3em;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 100ms ease;
  }

  button:hover {
    cursor: pointer;
  }

  .primaryButton {
    color: white;
    background-color: hsl(150, 63%, 23%);
    border: 2px solid hsl(150, 63%, 23%);
  }

  .primaryButton:hover {
    background-color: hsl(150, 63%, 15%);
  }

  .secondaryButton {
    background-color: #white;
    border: 2px solid hsl(150, 63%, 23%);
    color: #155e39;
  }

  .secondaryButton:hover {
    background-color: hsla(0, 0%, 93%, 0.5);
  }

  .resetButton {
    color: #777;
  }

  .resetButton:hover {
    color: #777;
    background-color: hsla(0, 0%, 93%, 0.5);
  }

  .bannerPanel button {
    width: 160px;
    height: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border: solid 2px white;
    text-shadow: 0 0 20px black;
    letter-spacing: 0.3em;
    font-weight: 700;
    transition: all 800ms ease;
  }

  .bannerPanel button:hover {
    color: #111;
    background-color: #fefefe;
  }
